*, html, body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

li > img{
    width: 20%;
}

body {
    text-align: center;
    background-color: #18202f;
    font-weight: lighter;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    width: 0%;
    background: #570e15
}

.button {
    background-color: #570e15;
    color: #fff;
    border: 0px;
    padding: 10px;
}

.text {
    padding: 10px;
    color: black;

}

ol {
    margin: 0px;
    padding: 10px;
}

li {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.parrafo{
    padding: 5px;
}

.form-login{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

.input-form{
    padding: 8px 5px;
    color: black;
    border-radius: 5px;
    border: 0px;
    margin: 4px 0px;
}

.btn-form{
    background-color: #570e15;
    color: white;
    padding: 10px;
    border: 0px;
    cursor: pointer;
    border-radius: 5px;
}
